@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,800,500,300);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,300,700);
@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);
html, body {
  height: 100%; }

.footer-icons {
  color: white;
  padding: 5px; }

.about-text {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: white; }

.main-icons {
  color: white;
  padding: 5px; }

.section-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 50px;
  color: #285e8e; }

.name-section {
  background-size: cover; }

.about-section {
  background-color: #656565; }

.projects-section {
  background-color: #F7BA1E; }

.photos-section {
  background-color: #D8D8D8; }

.videos-section {
  background-color: #74B7D2; }

.header-name {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 90px;
  color: #9B9B9B;
  text-shadow: 2px 2px 7px #000000;
  text-transform: uppercase; }

.page-wrap {
  min-height: 100%;
  margin-bottom: -100px; }

.page-wrap:after {
  content: "";
  display: block; }

.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: 100px;
  background-color: #386DAA; }

.videowrapper {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0; }

.videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
