@import url(https://fonts.googleapis.com/css?family=Montserrat:400,300,700);
@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);
html, body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  padding-top: 50px;
  background: url(/img/angles.png) repeat 0 0; }

.videowrapper {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0; }

.videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

p, a {
  color: white; }

a:link, a:visited, a:hover, a:active {
  color: #cc9b2d; }

.gold {
  color: #cc9b2d; }

a.icon {
  color: white;
  padding: 5px; }

.headertext {
  color: #ac593f;
  font-weight: 300; }

h1, h2, h3 {
  color: #ac593f; }

footer {
  margin: 50px 0; }

.navbar {
  font-size: 18px;
  font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
  font-weight: 700; }
  .navbar .badge {
    background-color: #000;
    color: #fff; }

.navbar-brand {
  font-size: inherit;
  font-weight: 700;
  text-transform: uppercase; }

.page-wrap {
  min-height: 100%;
  margin-bottom: -100px; }

.page-wrap:after {
  content: "";
  display: block; }

.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: 100px; }

.site-footer {
  background: #3c525d; }

#root {
  width: 100%;
  margin: 0 auto;
  padding-left: 20%;
  padding-right: 20%;
  border-top: 4px solid #cc9b2d; }

#child1 {
  width: 50%;
  float: left;
  border-right: 2px solid #cc9b2d;
  height: 200px;
  padding-right: 20px; }

#child2 {
  width: 50%;
  float: left;
  border-left: 2px solid #cc9b2d;
  height: 200px;
  padding-left: 20px; }

hr {
  height: 1px;
  border: none;
  color: #cc9b2d;
  background-color: #cc9b2d; }

.divider {
  width: 60%;
  border-top: 3px solid #cc9b2d;
  border-bottom: 0px solid #cc9b2d; }
