@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,800,500,300);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,300,700);
@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);
html, body {
  height: 100%;
  color: white;
  background: url(/img/hero_bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 18px; }

/**
* Navbar
*/
.nav-sticky {
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 90px;
  /* Rectangle 12: */
  background: rgba(37, 44, 86, 0.69); }

.nav-left {
  float: left;
  padding-left: 25px;
  padding-top: 15px; }

.nav-right {
  float: right;
  padding-top: 25px;
  padding-right: 25px; }

.header-name {
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  font-size: 40px;
  color: white;
  text-transform: uppercase; }

.header-name.shrink {
  font-size: 20px; }

.about-text {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: white; }

.main-icons {
  color: white;
  padding: 5px; }

.section-title {
  font-family: 'Slabo 27px', sans-serif;
  font-weight: 700; }

.hero_section {
  margin-top: 400px;
  text-align: center; }

.hero_text {
  color: white;
  font-family: Lato, serif;
  font-weight: 700;
  font-size: 60px; }

.hero-byline {
  font-weight: 300; }

.about-section {
  margin-top: 500px;
  background-color: #020630; }

.projects-section {
  background-color: #737170;
  background-image: url("http://www.transparenttextures.com/patterns/noise-pattern-with-subtle-cross-lines.png"); }

.photos-section {
  background-color: black; }

.videos-section {
  background-color: #5052b5; }

.page-wrap {
  min-height: 100%;
  margin-bottom: -100px;
  margin-top: -20px;
  /**   margin-left: 100px;*/ }

.page-wrap:after {
  content: "";
  display: block; }

.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: 100px;
  background-color: #282B34; }

.videowrapper {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0; }

.videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

a {
  font-variant: small-caps;
  color: white;
  text-decoration: underline; }

.masonry-brick {
  margin: 1em;
  display: none; }

.masonry-brick.loaded {
  display: block; }
