@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,800,500,300);
$light-orange-color: #cc9b2d;
$dark-orange-color: #AC593F;
$grey-color: #737170;
$dark-blue-color: #285e8e;
$blue-grey-color: #3c525d;
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,300,700);
@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);

html, body {
    height: 100%;
}
.footer-icons
{
    color:white;
    padding: 5px;
}
.about-text 
{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: white;
}
.main-icons
{
    color:white;
    padding: 5px;
}
.section-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: white;

}
.name-section {
    background-size: cover;
    /**background-image: url(/img/header.jpg);*/
    background-color: #574A6F;
}
.about-section {
    background-color: #574A6F;
}
.projects-section {
    background-color: #F7BA1E;
}
.photos-section {
    background-color: black;
}
.videos-section {
    background-color: #5052b5;
}
.header-name {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 90px;
    color: white;
    /**text-shadow: 2px 2px 2px #000000;*/
    text-transform: uppercase;
}
.page-wrap {
    min-height: 100%;
    margin-bottom: -100px;
}
.page-wrap:after {
    content: "";
    display: block;
}
.site-footer, .page-wrap:after {
    /* .push must be the same height as footer */
    height: 100px;
    background-color: #282B34;
}
.videowrapper {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0; }

.videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
}
a {
 font-variant: small-caps;
 /**font-style: italic;
 color: #DEB431;*/
 color: black;

}