$light-orange-color: #cc9b2d;
$dark-orange-color: #AC593F;
$grey-color: #737170;
$dark-blue-color: #285e8e;
$blue-grey-color: #3c525d;
body {
  padding-top: 50px;
     background: url(/img/angles.png) repeat 0 0;

}
html, body {
    height: 100%;
}

.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

p, a
{
    font-family: "lato", Times, serif;
    color:white;
    font-weight: 700;
}
a:link, a:visited, a:hover, a:active {
    color: $light-orange-color;
}

.gold
{
    color:$light-orange-color;
}
a.icon
{
    color:white;
    padding: 5px;
}

/*h1, h2, h3*/
.headertext
{
    color:$dark-orange-color;
    font-family: "lato",sans-serif;
    font-style: italic;
    font-weight: 300;

}
h1,h2,h3
{
    color:$dark-orange-color;
    font-family: "lato",sans-serif;
}
h4
{
    font-family: "lato",sans-serif;
    font-style: bold;
    font-weight: 300;
}


footer {
	margin: 50px 0;
}



#owl-demo .item{
    margin: 3px;
}
#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}







/* custom navbar*/
.navbar-custom {
	background-color:$light-orange-color;
    opacity: .8;
}

.navbar-custom .navbar-nav > li > a {
  	color: white;
  	padding-left:20px;
  	padding-right:20px;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus, .navbar-nav > .active > li.active {
    color: white;
	background-color:transparent;
}

.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: $dark-blue-color;
}

.navbar-custom .navbar-brand {
  	color:white;
}
.navbar-custom .navbar-toggle {
  	background-color:white;
}
.navbar-custom .icon-bar {
  	background-color:white;
}

.navbar-custom .navbar-nav>.active>a,.navbar-custom .navbar-nav>.open>a,.navbar-custom .navbar-nav>.open>a, .navbar-custom .navbar-nav>.open>a:hover,.navbar-custom .navbar-nav>.open>a, .navbar-custom .navbar-nav>.open>a:hover, .navbar-custom .navbar-nav>.open>a:focus
{ background-color: $grey-color}



.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -100px;
}
.page-wrap:after {
    content: "";
    display: block;
}
.site-footer, .page-wrap:after {
    /* .push must be the same height as footer */
    height: 100px;
}
.site-footer {
    background: $blue-grey-color;
}


#root
{
    width:100%;
    margin:0 auto;
    padding-left:20%;
    padding-right:20%;
    border-top: 4px solid $light-orange-color;


}

#child1
{
    width:50%;
    float:left;
    border-right: 2px solid $light-orange-color;
    height: 200px;
    padding-right: 20px;


}
#child2
{
    width:50%;
    float:left;
    border-left:    2px solid $light-orange-color;
    height: 200px;
    padding-left: 20px;
}


hr{
    height:1px;
    border:none;
    color:$light-orange-color;
    background-color:$light-orange-color;
}

.divider {
    width: 60%;
    border-top: 3px solid $light-orange-color;
    border-bottom: 0px solid $light-orange-color;
}
