body {
  padding-top: 50px;
     background-color: #f2f2f2;
}


.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}
p{font-family:"Lato", Times, serif;}





html, body {
	height:100%;
}

.carousel {
	height:101%;
}

.item,
.active,
.carousel-inner {
	height:100%;
}

.fill {
	width:100%;
	height:100%;
	background-position: center;
	background-size: cover;
}

.section {
	margin: 50px 0;
}

footer {
	margin: 50px 0;
}






.navbar-inverse {
  /*background-color: #5C5C5C; /* fallback color, place your own */


  /* IE8-9 gradient filter */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
}








#wrapper {
  padding-left: 150px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -150px;
  left: 150px;
  width: 150px;
  background: #1D3557;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;

}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 150px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}
.sidebar-nav li.active{
    background: rgba(255,255,255,0.3);
}
.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}






.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

#menu-toggle {
  display: none;
}

.inset {
  padding: 20px;
}

@media (max-width:767px) {

#wrapper {
  padding-left: 0;
}

#sidebar-wrapper {
  left: 0;
}

#wrapper.active {
  position: relative;
  left: 150px;
}

#wrapper.active #sidebar-wrapper {
  left: 150px;
  width: 150px;
  transition: all 0.4s ease 0s;
}

#menu-toggle {
  display: inline-block;
}

.inset {
  padding: 15px;
}

}


#grid {
    width: 90%;
    line-height: 0;
    -webkit-column-count: 3;
    -webkit-column-gap: 15px;
    -moz-column-count: 3;
    -moz-column-gap: 15px;
    column-count: 3;
    column-gap: 15px;
}
#grid img {
    width: 100% !important;
    height: auto !important;
    margin-bottom: 15px;
}


body {
    background: url(/static/img/bg.png) repeat 0 0;
}







.navbar-custom {
	background-color:#2B164A;
}

.navbar-custom .navbar-nav > li > a {
  	color:#fff;
  	padding-left:20px;
  	padding-right:20px;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus, .navbar-nav > .active > li.active {
    color: #ffffff;
	background-color:transparent;
}

.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #285e8e;
}

.navbar-custom .navbar-brand {
  	color:#eeeeee;
}
.navbar-custom .navbar-toggle {
  	background-color:#eeeeee;
}
.navbar-custom .icon-bar {
  	background-color:#0000ff;
}

.navbar-custom .navbar-nav>.active>a,.navbar-custom .navbar-nav>.open>a,.navbar-custom .navbar-nav>.open>a, .navbar-custom .navbar-nav>.open>a:hover,.navbar-custom .navbar-nav>.open>a, .navbar-custom .navbar-nav>.open>a:hover, .navbar-custom .navbar-nav>.open>a:focus
{ background-color: #737170}


p, a
{
    font-family: "proxima-nova";
}

h1, h2, h3
{
    color:#AC593F;
    font-family: "lato",sans-serif;
font-style: italic;
font-weight: 300;

}
h4
{
        font-family: "lato",sans-serif;
font-style: bold;
font-weight: 300;
}

.videoTitle
{
    color:#AC593F;
    font-family: "lato",sans-serif;
font-style: italic;
font-weight: 300;
    font-size: 1.17em;

}

