/* from: https://codepen.io/MarcosBL/pen/uomCD */
.badge {
  padding: 1px 9px 2px;
  /* font-size: 12.025px; */
  font-weight: bold;
  white-space: nowrap;
  color: #ffffff;
  background-color: #3a87ad;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
