---
interface Props {
  d: string;
}

const { d } = Astro.props;
---

<span
  class="inline-block px-2 py-0.5 bg-gray-100 dark:bg-gray-700 rounded-full text-gray-600 dark:text-gray-300"
>
  {d}
</span>
