---
import Container from "./Container.astro";
import { SOCIAL_LINKS } from "../consts";
import childProcess from "child_process";

const hash = childProcess
  .execSync("git rev-parse --short HEAD")
  .toString()
  .trim();
---

<Container class="mt-10 border-t border-gray-100 dark:border-gray-800">
  <footer class="flex flex-col items-center">
    <div class="text-sm text-center">
      Copyright © {new Date().getFullYear()} Nicky Semenza
    </div>
    <div
      class="flex justify-center gap-1 mt-1 text-sm text-center text-gray-500 dark:text-gray-600"
    >
      {SOCIAL_LINKS.map((link, index) => (
        <>
          {index > 0 && <span>&middot;</span>}
          <span>
            <a href={link.url} rel="noopener" target="_blank">
              {link.name}
            </a>
          </span>
        </>
      ))}
      <span>&middot;</span>
      <span>
        <a
          href="https://github.com/nickysemenza/nickysemenza.com"
          rel="noopener"
          target="_blank"
        >
          Version {hash}
        </a>
      </span>
    </div>
  </footer>
</Container>
