---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + (subpath?.[0] || "");
---

<a
  href={href}
  class:list={[
    "inline-block",
    "px-3",
    "py-2",
    "rounded-md",
    "transition-colors",
    "font-medium",
    isActive 
      ? "bg-blue-100 text-blue-800" 
      : "text-gray-700 hover:bg-gray-100 hover:text-gray-900",
  ]}
  {...props}
>
  <slot />
</a>
