---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import { Icon } from "astro-icon/components";
---

<header class="bg-white shadow-sm border-b-2 border-gray-300">
  <nav class="flex justify-between items-center">
    <h2 class="pl-1"><a href="/">{SITE_TITLE}</a></h2>
    <div class="internal-links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </div>
    <div class="flex">
      <a href="https://github.com/nickysemenza" target="_blank">
        <span class="sr-only">Go to Nicky's GitHub repo</span>
        <Icon name="fa6-brands:github" size="32" />
      </a>
      <a href="https://linkedin.com/in/nickysemenza/" target="_blank">
        <span class="sr-only">Follow on Linkedin</span>
        <Icon name="fa6-brands:linkedin" size="32" />
      </a>
      <a href="https://instagram.com/nickysemenza/" target="_blank">
        <span class="sr-only">Follow on Linkedin</span>
        <Icon name="fa6-brands:instagram" size="32" />
      </a>
    </div>
  </nav>
</header>
