---
interface Props {
  images: ImageMetadata[];
  cols?: number;
}

const { images, cols } = Astro.props;
import { Image } from "astro:assets";
// Fetch external data, even from a private API or database
let colCount = cols || 2;
---

<div class={`grid ${colCount == 2 ? "grid-cols-2" : "grid-cols-3"} gap-3`}>
  {images.map((x) => <Image src={x} alt="unknown" class="" />)}
</div>
