{% extends "layout.html" %}
{% set active_page = "About" %}
{% block body %}
    <div class="container">



<div class="row">
        <div class="col-md-8">
            <h2 class="featurette-heading">About Nicky<span class="text-muted"> | Autobiography</span></h2>
            <p class="lead">Nicky is a hacker, coder, photographer, and videographer. He will be a rising freshmen at Purdue University in the fall
                <br>
            <a href="/static/files/nickysemenza_resume.pdf">Resume</a>
            </p>

            <a class="btn" href="#"><i class="fa fa-youtube fa-2x"></i></a>
            <a class="btn" href="#"><i class="fa fa-flickr fa-2x"></i></a>

        </div>
        <div class="col-md-2">
            <h2>me!</h2>
            <img src="/static/images/me.jpg" width="400">
        </div>
    </div>


        <hr>

    </div>
{% endblock %}
