{% extends "layout.html" %}
{% set active_page = "About" %}
{% block body %}
    <div class="container">

<div class="row">
        <div class="col-md-8">
            <h2>About Nicky</h2>
            <p>Nicky is currently a Senior at <a href="http://harker.org">The Harker School</a> in San Jose, California.
                <br>
            <a href="/static/files/nickysemenza_resume.pdf">Resume</a>
            </p>

            <a class="btn" href="#"><i class="fa fa-youtube fa-2x"></i></a>
            <a class="btn" href="#"><i class="fa fa-flickr fa-2x"></i></a>

        </div>
        <div class="col-md-2">
            <h2>me!</h2>
            <img src="/static/images/me.jpg" width="400">
        </div>
    </div>


        <hr>

    </div>
{% endblock %}
