{% extends "layout.html" %}
{% set active_page = "about" %}
{% block body %}
    <div class="container">

<div class="row">
        <div class="col-md-10">
            <h2>About Nicky</h2>
            <p>Nicky is currently a Senior at <a href="http://harker.org">The Harker School</a> in San Jose, California.
                <br>
            <a href="/static/files/nickysemenza_resume.pdf">Resume</a>
            </p>
            <a class="btn" href="#"><i class="fa fa-youtube fa-2x"></i></a>
            <a class="btn" href="#"><i class="fa fa-flickr fa-2x"></i></a>

        </div>
        <div class="col-md-2">
            <h2>me!</h2>
            <img src="/static/images/aboutme.jpg" width="400">
        </div>
    </div>

{#        <div class="row">#}
{##}
{#            <div class="col-lg-7 col-md-7">#}
{#                <a href="#">#}
{#                    <img class="img-responsive" src="http://placehold.it/700x300" alt="">#}
{#                </a>#}
{#            </div>#}
{##}
{#            <div class="col-lg-5 col-md-5">#}
{#                <h3>Project Two</h3>#}
{#                <h4>Subheading</h4>#}
{#                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>#}
{#                <a class="btn btn-primary" href="#">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>#}
{#            </div>#}
{##}
{#        </div>#}



{#        <div class="row text-center">#}
{##}
{#            <div class="col-lg-12">#}
{#                <ul class="pagination">#}
{#                    <li><a href="#">&laquo;</a>#}
{#                    </li>#}
{#                    <li class="active"><a href="#">1</a>#}
{#                    </li>#}
{#                    <li><a href="#">2</a>#}
{#                    </li>#}
{#                    <li><a href="#">3</a>#}
{#                    </li>#}
{#                    <li><a href="#">4</a>#}
{#                    </li>#}
{#                    <li><a href="#">5</a>#}
{#                    </li>#}
{#                    <li><a href="#">&raquo;</a>#}
{#                    </li>#}
{#                </ul>#}
{#            </div>#}
{##}
{#        </div>#}

        <hr>

    </div>
{% endblock %}
