{% extends "layout.html" %}
{% set active_page = "About" %}
{% block body %}

<div style="height:200px; width:100%; background:#396F9E">
<div class="container"><h1>blue because calm</h1></div></div>
<div style="height:200px; width:100%; background:#AC833F">    <div class="container"><h1>omj purdue school pride???</h1></div>
</div>

<div style="height:200px; width:100%; background:#AC593F">
    <div class="container"><h1>everyone says i like orange?</h1></div></div>

<div style="height:200px; width:100%; background:#F5AF4C">
    <div class="container"><h1>PUMPKINS SPOOKY</h1></div></div>


{% endblock %}
